<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<form action="/customers/create" method="post" th:object="${customer}">
    <div>
        <label>Name: </label>
        <input type="text" th:field="*{name}" required>
        <label>Order: </label>
        <select name="orderId" required>
            <option th:each="order : ${orders}" th:value="${order.id}" th:text="${order.id}"></option>
        </select>
    </div>

    <button type="submit">Create</button>
    <div>
        <a href="/customers"> Back</a>
    </div>
</form>
</body>
</html>