<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/orders/create" method="post" th:object="${order}">
    <div>
        <label>Total price: </label>
        <input type="text" th:field="*{totalPrice}" required>
        <label>Supplier: </label>
        <select name="supplierId" required>
            <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}"></option>
        </select>
    </div>
    <!-- Add more form fields here -->
    <button type="submit">Create</button>
    <div>
        <a href="/orders"> Back</a>
    </div>
</form>
</body>
</html>