<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Order</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:if="${customer.order != null}" th:text="${customer.order.id}"></td>
        <td th:unless="${customer.order != null}">No Order</td>
    </tr>
</table>

<a href="/customers/new">Create Customer</a>
<div>
    <a href="/"> Back</a>
</div>

</body>
</html>