<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Cell number</th>
        <th>Quantity</th>
        <th>Product</th>
    </tr>
    <tr th:each="stock : ${stocks}">
        <td th:text="${stock.id}"></td>
        <td th:text="${stock.cellNumber}"></td>
        <td th:text="${stock.quantity}"></td>
        <td th:if="${stock.product != null}" th:text="${stock.product.name}"></td>
        <td th:unless="${stock.product != null}">No Product</td>

        <td> <a th:href="@{/stocks/delete/{id}(id=${stock.id})}">Delete</a></td>
        <td> <a th:href="@{/stocks/edit/{id}(id=${stock.id})}">Edit</a></td>

    </tr>

</table>
<a href="/stocks/new">Create Stock</a>
<div>
    <a href="/"> Back</a>
</div>


<form action="/stocks/updateStock" method="post">
    <input type="hidden" name="id" value="1"> <!-- Поле для передачи ID стока -->
    <div>
        <label for="cellNumber">Cell Number:</label>
        <input type="text" id="cellNumber" name="cellNumber" value="">
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" value="">
    </div>
    <div>
        <label for="productId">Product:</label>
        <select id="productId" name="productId">
            <option th:each="product : ${products}"
                    th:value="${product.id}"
                    th:text="${product.name}">
            </option>
        </select>
    </div>
    <input type="submit" value="Submit">
</form>


</body>
</html>